.main-header-1 h1,h3{
    text-align: center;
}


.main-header-1{
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.144);
    margin-bottom: 20px;
}

.main-header-1 input{
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-left: 750px;
    text-align: center;
    background-color: #f4f4f4;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}





.main-header-2-l1{
    position: absolute;
    margin-left: 100px;
}


.main-header-2-l2{
    border: 5px solid grey;
    margin-left: 700px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-bottom: 190px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


.main-header-2-l2-s1{
    position: absolute;
    margin-left: 20px;
    padding-top: 50px;
    padding: 80px;
    padding-left: 30px;
}

.main-header-2-l2-s2{
    border-left: 10px solid black;
    padding: 10px;
    padding-top: 60px;
    margin-left: 710px;
}



#bodybox {
    margin: auto;
    max-width: 550px;
    font: 15px arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
    margin-left: 200px;
}





  
  
#chatborder {
    border-style: solid;
    background-color: #f6f9f6;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 40px;
    border-radius: 15px;
}
  
  .chatlog {
     font: 15px arial, sans-serif;
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
  }
  
  h1 {
    margin: auto;
  }
  
  pre {
    background-color: #f0f0f0;
    margin-left: 20px;
  }





